body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  

#BUI {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 25%;
  display: grid;
  margin: auto;
  border: 3px solid crimson;
  padding: 5px;
  text-align: center;

  position: absolute;
  bottom:  0;
  right: 0;
  left: 0;
}

#bPlayer {
    position: absolute;
    right: 0;
    padding-bottom: 10%;
    bottom: 0;
}

.button-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.bButton {
    justify-content: space-around;
    flex: 1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    font-size: 1em;
}

.bButton:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}
